# Predicting most Efficient Interventions for Life Span Increase
#### Data Literacy at University of Tübingen, Winter 2023/24

---
&copy; Daniel Flat, Jackson Harmon, Eric Nazarenus, Aline Bittler 2023. [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)

Template by Philipp Hennig, 2023. [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)

In [4]:
import pandas as pd

In [6]:
csv_input = pd.read_csv(
    "Lifespans_ITP1.csv",
    skiprows=0,
    sep=";",
    index_col=[0, 1],
    skipfooter=0,
    engine="python",
    decimal=",",
)
csv_input

                  site sex       id     group Rx(ppm) age_initiation(mo)  \
population cohort
UM-HET3    C2004   TJL   m  JL00005  4-OH-PBN     315                4.0
           C2004   TJL   m  JL00006  4-OH-PBN     315                4.0
           C2004   TJL   m  JL00007  4-OH-PBN     315                4.0
           C2004   TJL   f  JL00095  4-OH-PBN     315                4.0
           C2004   TJL   f  JL00096  4-OH-PBN     315                4.0
...                ...  ..      ...       ...     ...                ...
           C2017    UT   m  UT10744       Syr     300                5.0
           C2017    UT   m  UT10745       Syr     300                5.0
           C2017    UT   m  UT10783       Syr     300                5.0
           C2017    UT   m  UT10784       Syr     300                5.0
           C2017    UT   m  UT10785       Syr     300                5.0

                  status  dead  age(days)
population cohort
UM-HET3    C2004    dead     1        896
           C2004    dead     1       1077
           C2004    dead     1        790
           C2004    dead     1        823
           C2004    dead     1        601
...                  ...   ...        ...
           C2017    dead     1        289
           C2017    dead     1        662
           C2017    dead     1        440
           C2017    dead     1        342
           C2017    dead     1        754

[27574 rows x 9 columns]